<h1>Communities</h1>
<%= form_for :community, url: {action: :create} do |f|%>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<ul>
<% @communities.each do |community| %>
  <li> <%= link_to community.title, action: 'show', id: community.id %> </li>
<% end %>
</ul>
